/* RESET, VALORI DI DEFAULT, CLASSI COMUNI */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #141922;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-track{
    background: #080808;
}

::-webkit-scrollbar-thumb{
    background: #0c0c0c;
}

/* SIDEBAR */

.sidebar{
    width: 300px;
    background-color: black;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.sidebar .logo{
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: black;
}

.sidebar .logo img{
    width: 50%;
    height: 100%;
    margin: auto 20px;
}

/* section navbar */

.sidebar .nav-item{
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    cursor: pointer;
}

.sidebar .nav-item img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin: auto 0;
}

.sidebar .nav-item p{
    color: #a3a3a3;
    display: inline-block;
    line-height: 50px;
}

.sidebar .selected-item{
    border-left: 3px solid #adff2f;
    padding: 0px 17px;
}

.sidebar .selected-item p{
    color: white;
    font-weight: 600;
}

.playlist-container{
    padding: 0px 20px;
    margin: 30px 0px 0px;
    color: #a3a3a3;
}

.playlist-container h3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.create-playlist{
    padding: 15px 0px;
    cursor: pointer;
}

.create-playlist i{
    font-size: 2rem;
    padding: 7px;
    color: black;
    background-color: #a3a3a3;
    vertical-align: middle;
    transition: background-color 0.2s;
}

.create-playlist p{
    margin-left: 10px;
    font-weight: 600;
    display: inline-block;
    transition: color 0.2s;
}

.playlist-list{
    overflow-y: auto;
}

.playlist-list ul{
    list-style: none;
}

.playlist-list li{
    padding: 10px 0px;
    cursor: pointer;
    transition: color 0.2s;
}

.bottom-container{
    width: 300px;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    bottom: 80px;
    background-color: black;
}

.install-app p{
    display: inline-block;
    color: #a3a3a3;
    padding-left: 10px;
    transition: color 0.2s;
}

.install-app img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.bottom-container hr{
    border: none;
    border-top: 1px solid #a3a3a3;
    margin: 10px 0px;
}

.account img{
    width: 30px;
    height: 30px;
    background-color: #a3a3a3;
    border-radius: 100%;
    vertical-align: middle;
}

.account h3{
    display: inline-block;
    color: white;
    padding-left: 10px;
    font-size: 1rem;
}

/* HEADER */

header{
    background-color: #080b12;
    width: calc(100% - 300px);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

header button{
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    margin: auto 0;
    padding: 12px 35px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

/* MAIN */



/* FOOTER */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

/* section 1 */

.song{
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.song-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.song-img img{
    width: 50px;
    height: 50px;
}

.song-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 80px;
}

.song-info h3{
    font-size: 1rem;
}

.song-info p{
    font-size: 0.8rem;
    color: #a3a3a3;
}

.song-icons{
    line-height: 80px;
    cursor: pointer;
}

.song-icons i{
    color: #a3a3a3;
    padding: 0px 5px;
    transition: color 0.2s;
}

.player{
    flex-grow: 3;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.player .top-controls{
    margin: 0 auto;
}

.player .top-controls i{
    padding: 0px 15px;
    line-height: 40px;
    cursor: pointer;
    transition: color 0.2s;
}

.player .play::after{
    content: "";
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-22.5px, 5.5px);
    transition: color 0.2s;
}

.player .bottom-controls{
    display: flex;
    justify-content: space-between;
}

.player .bottom-controls p{
    font-size: 0.8rem;
    font-weight: 600;
}

.progress-bar{
    padding: 1px;
    height: 5px;
    border-radius: 30px;
    background-color: #5a5a5a;
}

.progress-value{
    height: 5px;
    border-radius: 30px;
    background-color: #a3a3a3;
    transform: translate(-1px, -1px);
    cursor: pointer;
}

.player .progress-bar{
    width: 500px;
    margin: auto 20px;
}

.player .progress-value{
    width: 9%;
}

.volume{
    flex-grow: 1;
    display: flex;
    color: white;
}

.volume i{
    line-height: 80px;
    padding: 0px 10px;
    cursor: pointer;
    transition: color 0.2s;
}

.volume .progress-bar{
    width: 150px;
    align-self: center;
    margin-right: 10px;
}

.volume .progress-value{
    width: 35%;
}

/* MEDIA QUERIES */

/* desktop */

@media screen and (min-width: 769px){
    .sidebar .logo-small{
        display: none;
    }
    .sidebar .nav-item p{
        transition: color 0.2s;
    }
    .sidebar .nav-item:hover p{
        color: white;
        transition: color 0.2s;
    }
    .create-playlist:hover{
        color: white;
        transition: color 0.2s;
    }
    .create-playlist:hover i{
        background-color: white;
        transition: background-color 0.2s;
    }
    .create-playlist:hover p{
        transition: color 0s;
    }
    .playlist-list li:hover{
        color: white;
    }
    .bottom-container:hover{
        cursor: pointer;
    }
    .install-app p:hover{
        color: white;
        transition: color 0.2s;
    }
    header button{
        transition: color 0.2s, background-color 0.2s;
    }
    header button:hover{
        color: black;
        background-color: white;
        transition: color 0.2s, background-color 0.2s;
    }
    .song-icons i:hover{
        color: white;
        transition: color 0.2s;
    }
    .player .top-controls i:hover{
        color: #a3a3a3;
        transition: color 0.2s;
    }
    .player .top-controls .play:hover::after{
        border-color: #a3a3a3;
        transition: border-color 0.2s;
    }
    .progress-value:hover{
        background-color: #c5c5c5;
    }
    .volume i:hover{
        color: #a3a3a3;
        transition: color 0.2s;
    }
}

/* tablet */

@media screen and (max-width: 768px) {
    .sidebar, .bottom-container{
        width: 200px;
    }
    .sidebar .logo-small{
        display: none;
    }
    .sidebar .nav-item{
        height: 30px;
    }
    .sidebar .nav-item img{
        width: 20px;
        height: 20px;
    }
    .sidebar .nav-item p{
        font-size: 0.8rem;
        line-height: 30px;
    }
    .sidebar h3{
        font-size: 0.8rem;
    }
    .sidebar .create-playlist p{
        font-size: 0.8rem;
    }
    .sidebar .playlist-list li{
        font-size: 0.8rem;
    }
    .install-app p{
        font-size: 0.8rem;
    }
    header{
        width: calc(100% - 200px);
    }
    header button{
        font-size: 0.5rem;
        padding: 10px;
    }
    .player .top-controls i{
        padding: 0px 5px;
    }
    .player .bottom-controls{
        width: 150px;
        margin: 0 auto;
    }
    .player .progress-bar{
        margin: 5px 2px;
    }
    .volume .progress-bar{
        width: 15px;
    }
    .volume i{
        padding: 0px 5px;
    }
}

/* phone */

@media screen and (max-width: 420px){
    .sidebar, .bottom-container{
        width: 50px;
    }
    .sidebar .logo img{
        margin: 0 auto;
    }
    .sidebar .logo-big, .sidebar .nav-item p, .sidebar h3, .install-app p, .sidebar hr{
        display: none;
    }
    .sidebar .logo-small{
        display: block;
    }   
    .sidebar .nav-item{
        padding: 0;
    }
    .sidebar .nav-item, .install-app, .account{
        display: flex;
        justify-content: center;
    }
    .playlist-container{
        display: none;
    }
    .playlist-list{
        overflow-y: hidden;
    }
    .bottom-container{
        padding: 10px 0px;
    }
    .install-app{
        width: 50px;
        margin-bottom: 5px;
    }
    .install-app img{
        margin: 0 auto;
    }
    .account{
        margin-top: 5px;
    }
    header{
        width: calc(100% - 50px);
        height: 10%;
    }
    header button{
        padding: 10px 5px;
    }
}

@media screen and (max-width: 1280px){
    .song{
        margin-top: 10px;
    }
    .song-info{
        padding-right: 10px;
    }
    .song-icons{
        display: flex;
        flex-direction: column;
    }
    .song-icons i{
        padding: 5px 0px;
    }
    .player .progress-bar{
        width: 300px;
    }
    .volume .progress-bar{
        width: 50px;
    }
}